/ARTIGO-privacy.preserving.in.finer-grained.access.control.using.XACML.aux
/ARTIGO-privacy.preserving.in.finer-grained.access.control.using.XACML.bbl
/ARTIGO-privacy.preserving.in.finer-grained.access.control.using.XACML.blg
/ARTIGO-privacy.preserving.in.finer-grained.access.control.using.XACML.ent
/ARTIGO-privacy.preserving.in.finer-grained.access.control.using.XACML.synctex.gz
/ARTIGO-privacy.preserving.in.finer-grained.access.control.using.XACML.log
/ARTIGO-privacy.preserving.in.finer-grained.access.control.using.XACML.out
/ARTIGO-privacy.preserving.in.finer-grained.access.control.using.XACML.pdf
